<div>
    <div class="imgDiv">
        <a href="/{{directory}}"><img class="screenshot2" src="/{{directory}}/screenshot2.png" alt="project screenshot" /></a>
    </div>
    <div>
        <a href="/{{directory}}"><h1>{{name}}</h1></a>
        <p>{{description}}</p>
    </div>
</div>